{% if awscli_users[_user] is defined and awscli_users[_user] is iterable %}
{% for awscli_profiles in awscli_users[_user] %}
[{{ awscli_profiles }}]
{% for key,data in awscli_users[_user][awscli_profiles].items() if key not in ['config'] %}
{{ key }} = {{ data }}
{% endfor %}
{% endfor %}
{% endif %}
